.list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* padding: 20px; */
    justify-content: center;
  }
  
  .project-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    margin: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .navbar-toggler i {
    font-size: 24px; /* Adjust the size */
    color: #333;     /* Change the color as needed */
    transition: color 0.3s ease;
  }
  
  .navbar-toggler i:hover {
    color: rgb(227, 43, 43); /* Color on hover */
  }
  
  h3{
    text-align: center;
  }
  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #f0f0f0;
  }
  
  .project-content {
    padding: 15px;
  }
  
  .project-name {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
  }
  
  .project-description {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
  }
  
  .project-status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
  }
  
  .project-status.in-progress {
    background: #ffc107;
    color: #fff;
  }
  
  .project-status.completed {
    background: #28a745;
    color: #fff;
  }
  
  .project-status.upcoming {
    background: #007bff;
    color: #fff;
  }
  
  .progress-bar-container {
    background: #e0e0e0;
    border-radius: 4px;
    height: 10px;
    margin: 10px 0;
    position: relative;
  }
  
  
  
  .project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin: 10px 0;
  }
  
  .project-tag {
    background: #e0e0e0;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #333;
  }
  
  .project-link {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .project-link:hover {
    text-decoration: underline;
  }
  .list-title{
    text-align: center;
    margin: 20px;
  }
  
  body{
    margin: 0px;
    padding: opx;
  }
  html{
    margin: 0px;
    padding: 0px;
  }